* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: rgb(255, 250, 241);
}

input,
textarea {
  outline: none;
  resize: none;
}

input.search::placeholder {
  text-transform: lowercase;
  font-family: 'Inter', sans-serif;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.theme-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title {
  font-size: 1.5rem;
  text-transform: lowercase;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 10px 0;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 20px 0 10px 20px;
}

.question-mark {
  cursor: pointer;
  background-color: #333;
  color: rgb(255, 250, 241);
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 10px;
  font-size: .875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  font-size: .875rem;
  padding: 8px;
  border-radius: 4px;
  display: none;
  width: 200px;
}

.tooltip-container:hover .tooltip {
  display: block;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.search, .add-new {
  margin: 10px 0;
}

.search {
  padding: 5px;
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  outline: 1px solid black;
  border: none;
  text-transform: lowercase;
}

.select-theme-wrapper {
  margin-top: 10px;
}

.select-theme-wrapper label {
  font-size: .875rem;
}

.select-menu {
  cursor: pointer;
  padding: 2px;
  font-family: 'Source Code Pro', monospace;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.note {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px #d3d3d3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note-title,
.note-body {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none;
  font-family: 'Inter', sans-serif;
}

.note-title {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.note-body {
  flex-grow: 1;
  font-size: 14px;
}

.note-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1rem;
  color: lightgrey;
  padding: 5px;
}

.note-delete:hover {
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .header-wrapper {
    align-items: flex-start;
    margin: 20px 40px;
  }

  .question-mark {
    position: relative;
  }

  .tooltip {
    top: -10px;
    left: 25px;
    z-index: 1;
    transform: none;
  }

  .search-wrapper {
    flex-direction: row;
  }

  .add-new {
    margin-right: 30px;
  }

  .notes-list {
    justify-content: flex-start;
    margin: 0 20px;
  }

  .note {
    width: 300px;
    height: 300px;
  }

  .note-delete {
    font-size: 1.2rem;
  }
}