* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
}

input,
textarea {
  outline: none;
  resize: none;
}

.header-title {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0 20px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-wrapper {
  margin: 10px 0 0 20px;
}

.search, .add-new {
  margin: 5px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #f2eeee;
  outline: 1px solid black;
  border: none;
}

.select-theme-wrapper {
  margin: 10px 0 10px 20px;
}

.select-menu {
  margin-left: 5px;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.note {
  margin: 10px;
  background-color: lightyellow;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note-title,
.note-body {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none;
  font-family: 'Helvetica', sans-serif;
}

.note-title {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.note-body {
  flex-grow: 1;
  font-size: 14px;
}

.note-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: black;
  padding: 5px;
}

.note-delete:hover {
  color: lightgrey;
  cursor: pointer;
}

